<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1></h1>
</head>

<body>
    <h1>Do you really want to delete <%=employee.name%>?</h1>
        <table>
        <tr>
            <td>
                <form method="post">
                <input type="submit" name="submit" value="Yes">
                </form>
            </td>
            <td>
                <button onclick="location.href = '/admin/allemplist'" style="font-size: larger;">No</button>
            </td>
        </tr>
    </table>
</body>
</html>